
<tr class="tag_parent">
 	<td><%= @ringtone.name %></td>
<!--    	<td class="tag_column"><%= raw @ringtone.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')  %><%= image_tag("edit_16.png", class:"tag_icon", data: {id: @ringtone.id}) %></td>
 -->
   	<td class="tag_column"><span id="<%= dom_id(@ringtone)+"_tagarea" %>"><%= raw @ringtone.tag_list.map { |t| link_to t, tag_path(t), class: "my_tag" }.join(' ')  %></span><%= link_to image_tag("edit_16.png", class:"tag_icon", id:dom_id(@ringtone)+"_tagicon"), updatetaglist_ringtone_path(@ringtone) , method: :post, remote: true %></td>

   	<td><%= has_attachment?(@ringtone) %></td>
   	<td class="table_opt"><%= link_to image_tag("show_icon.png", :class => "table_opt_icon"), @ringtone %></td>
   	<td class="table_opt"><%= link_to image_tag("edit_16.png", :class => "table_opt_icon"), edit_ringtone_path(@ringtone) %></td>
    	<!-- 注意这里神奇的 dom_id 方法-->
   	<td id="<%= dom_id @ringtone %>_destory" class="table_opt"><%= link_to image_tag("delete_icon.png", :class => "table_opt_icon") , @ringtone, method: :delete, remote: true %></td>
</tr>


