

<%= simple_form_for(@ringtone, html: { class:'form-inline' }, remote: true ) do |f| %>
<!--   <%= f.input :tag_list , label: false %>
 -->  
  <%= f.autocomplete_field :tag_list , autocomplete_tag_name_ringtones_path , id: dom_id(@ringtone) + '_taginput', 'data-delimiter' => ',' , multiple: true, 'data-role' => 'tagsinput', label: false %>
<!-- 
  <%= f.autocomplete_field :tag_list , autocomplete_tag_name_ringtones_path , 'data-delimiter' => ',' , multiple: true, label: false %>
 -->

  <%= f.button :submit ,id: dom_id(@ringtone)+"_tagsave",  class: "btn btn-primary btn-sm tag_save_btn" , value: "save" %>
<% end %>

<p id="<%= dom_id(@ringtone)+'_tagpool' %>">
	<span style="float:left">常用： </span>
	<%= raw tag_pool %>
</p>

