

<h4 style="color:#c9bc4e">this is user show.html => begin</h4>


<h4 class="text-info">用户信息</h4>

<p>用户名:</p></br>
<%= @user.login %>

<p>Login count:</p></br>
<%= @user.login_count %>

<p>上次登陆时间:</p></br>
<%= @user.last_request_at %>

<hr>
<%= link_to("设置账户", edit_account_path) %> | 
<%= link_to("首页", root_path) %>

<h4 style="color:#c9bc4e">this is user show.html => end</h4>


